/**
 * style.scss
 * AUTH:      Theodore X. Pak <theopak.com>
 * DESC:      Import all stylesheets through this file. Run as-is for
 *  development, and concatenate/minify/gzip for production.
 */



/* === SASS PREPROCESSOR ==================================================== */
$color0     : #fafafa;  // bg color
$color1     : #333;     // fg color
$color2     : #08C;     // highlight color
$color3     : #FCF8E3;  // accent color
$font0      : 'SourceSanePro',Helvetica,Arial,sans-serif;
$font1      : 'Museo Sans',Arial,sans-serif;
@mixin filter($var) {
       -o-filter: $var;
      -ms-filter: $var;
     -moz-filter: $var;
  -webkit-filter: $var;
          filter: $var;
}
@mixin transition($property, $duration, $function ) {
  -webkit-transition: $property $duration $function;
          transition: $property $duration $function;
}



/* === NORMALIZATION ======================================================== */
@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";



/* === PRIMARY STYLES ======================================================= */
@import 'fonts';
@import "prettify_sunburst.css";
@import "components";
@import "template";
@import "pages";
